.highlight-extension-blue{
	background-color:rgba(0, 255, 255,.5);
}

.highlight-extension-green{
	background-color:rgba(102, 255, 51,.6);
}

.highlight-extension-red{	
	background-color:rgba(241, 70, 72,.5);
}

.highlight-extension-purple{	
	background-color:rgba(255, 0, 255,.5);
}
